////////////////////////////
//DOCUMENTATION CSS
////////////////////////////

///////////////////////////
//COLOUR SCHEME
///////////////////////////
@black: #000;
@dark-blue: #225378;
@med-blue: #1695a3;
@light-blue: #acf0f2;
@white: #fff;
@orange: #eb7f00;

///////////////////////////
//Mixins
///////////////////////////
.rounded-corners (@radius: 5px) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  -ms-border-radius: @radius;
  -o-border-radius: @radius;
  border-radius: @radius;
}

.shadow (@hOffset: inset, @vOffset: 0px, @blur: 0px, @spread: 5px, @color: #000) {
  -moz-box-shadow: @hOffset @vOffset @blur @spread @color;
  -webkit-box-shadow: @hOffset @vOffset @blur @spread @color;
  box-shadow: @hOffset @vOffset @blur @spread @color;
}

.textShadow (@X: 1px, @Y: 1px, @blur: 3px, @color: #888) {
  text-shadow: @X @Y @blur @color;
}

.transparentBG (@color, @alpha) {
  background-color: rgba(red(@color), green(@color), blue(@color), @alpha);
}

///////////////////////////
//Fonts
///////////////////////////
.header () {
  font-family: Verdana, Geneva, sans-serif;
}

.paragraph () {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  letter-spacing: 0.05em;
}

////////////////////////////
//**********SITE**********//
////////////////////////////

//* {
//  margin: 0;
//  padding: 0;
//}

html, body {
  margin: 0;
  padding: 0;
  background-color: #232323;
  height: 100%;
}

h1, h2, h3, h4, p {
  margin: 0;
  padding: 0;
  color: #fff;
}

#mainHeader {
  padding: 5px;
  .transparentBG(@white, 0.85);
  //background-color: @orange;
}

#mainHeader h1 {
  .textShadow();
  color: @black;
}

#alertBox {
  width: 100%;
  color: #ffffff;
  background-color: #ff0007;
  text-align: center;
  margin: 10px 0;
  padding: 5px 0;
}

#glossary {
  .rounded-corners(5px);
  .shadow();
  .transparentBG(@white, 0.75);
  //border: 2px solid @black;
  padding: 10px;
  width: 295px;
  //height: 100%;
  float: left;
}

#glossary h2 {
  .rounded-corners(5px);
  .header();
  .textShadow(0, 0, 10px, @white);
  .transparentBG(@black, 0.5);
  text-align: center;
  padding: 5px;
  color: @black;
}

#glossary ul {
  margin: 10px;
  padding: 0;
  list-style: none;
}

#glossary ul li {
  .paragraph();
  font-weight: 500;
  color: @black;

}

#mainContent {
  .shadow();
  .transparentBG(@white, 0.75);
  position: relative;
  margin: 10px auto;
  padding: 5px;
  width: 960px;
  height: 100%;
  //background-color: @white;
}

.method {
  .rounded-corners(5px);
  .shadow();
  .transparentBG(@white, 0.75);
  margin-bottom: 5px;
  padding: 10px;
  width: 615px;
  //height: 100%;
  float: right;
}

.method h2 {
  .rounded-corners(7px);
  .header();
  .textShadow(0px, 0px, 10px, @white);
  .transparentBG(@black, 0.5);
  padding: 5px 10px;
  color: @black;
}

.method p {
  .paragraph();
  color: @black;
  padding: 5px 10px;
  font-size: 14px;
}

#uses {

}

#support {
  padding: 0 10px;
}

.method code {
  .rounded-corners(5px);
  //.textShadow(1px, 1px, 3px, @white);
  .transparentBG(@black, 0.5);
  color: @white;
  display: block;
  padding: 5px 10px;
}

#mainFooter {
  .transparentBG(@orange, 0.65);
}

#mainFooter small {
  position: relative;
  color: @white;
  float: right;
  padding: 0 10px;
}

//***********CLEAR FIX**********//
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

//***********STICKY FOOTER***********//
.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -20px;
}
.page-wrap:after {
  content: "";
  display: block;
}
.site-footer, .page-wrap:after {
  /* .push must be the same height as footer */
  height: 20px;
}
.site-footer {
  //background: orange;
}

