html,
body {
  margin: 0;
  padding: 0;
  background-color: #352f2f;
  height: 100%;
}
h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
  color: #fff;
}
#testElement {
  padding: 5px;
}
#mainHeader {
  padding: 5px;
  background-color: #54574f;
}
#mainHeader h1 {
  text-shadow: 1px 1px 3px #000000;
  color: #f1d7b2;
}
#alertBox {
  width: 100%;
  color: #ffffff;
  background-color: #ff0007;
  text-align: center;
  margin: 10px 0;
  padding: 5px 0;
}
#mainContent {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: inset 0px 0px 5px #000000;
  -webkit-box-shadow: inset 0px 0px 5px #000000;
  box-shadow: inset 0px 0px 5px #000000;
  background-color: rgba(163, 104, 28, 0.4);
  position: relative;
  margin: 10px auto;
  padding: 5px;
  width: 960px;
  min-height: 100%;
  height: auto;
}
#example {
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
  background-color: rgba(84, 87, 79, 0.25);
  display: block;
  margin: 0;
  padding: 10px;
}
#example div {
  display: block;
  margin: 20px auto;
  padding: 0;
  text-align: center;
}
#example input {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  background-color: rgba(84, 87, 79, 0.25);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  letter-spacing: 0.05em;
  text-shadow: 0 0 5px #000000;
  color: #f1d7b2;
  margin: 0;
  padding: 7px;
  outline: none;
}
#example img {
  -moz-box-shadow: 0 0 10px 1px #000000;
  -webkit-box-shadow: 0 0 10px 1px #000000;
  box-shadow: 0 0 10px 1px #000000;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  display: block;
  position: relative;
  margin: 10px auto;
}
#example pre {
  padding: 10px;
  font-size: 12px;
}
#glossary {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: inset 0px 0px 5px #000000;
  -webkit-box-shadow: inset 0px 0px 5px #000000;
  box-shadow: inset 0px 0px 5px #000000;
  background-color: rgba(255, 255, 255, 0.75);
  padding: 10px;
  width: 295px;
  float: left;
}
#glossary img {
  display: block;
  position: relative;
  margin: 0 auto;
  padding: 10px;
}
.glossHeader {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  font-family: Verdana, Geneva, sans-serif;
  text-shadow: 0 0 10px #000000;
  background-color: #54574f;
  text-align: center;
  padding: 5px;
  color: #f1d7b2;
}
.glossSection {
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
  background-color: rgba(84, 87, 79, 0.25);
  margin: 10px 0;
  padding: 10px;
}
.glossSection h2 {
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
  text-shadow: 0 0 10px #000000;
  font-size: 18px;
  text-transform: capitalize;
  padding: 5px 10px;
  color: #f1d7b2;
  background-color: #352f2f;
}
.glossSection ul {
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
  margin: 0;
  padding: 0;
}
.glossSection li {
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
  background-color: rgba(84, 87, 79, 0.25);
  font-family: "Courier New", Courier, monospace;
  font-size: 18px;
  font-weight: bold;
  text-shadow: 0 0 3px #f1d7b2;
  -moz-box-shadow: inset 0px 0px 5px #000000;
  -webkit-box-shadow: inset 0px 0px 5px #000000;
  box-shadow: inset 0px 0px 5px #000000;
  margin: 5px 0;
  padding: 5px 10px;
  color: #352f2f;
  list-style: none;
}
.glossSection li:hover {
  text-shadow: 0 0 3px #000000;
  color: #d7af67;
}
.method {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: inset 0px 0px 5px #000000;
  -webkit-box-shadow: inset 0px 0px 5px #000000;
  box-shadow: inset 0px 0px 5px #000000;
  background-color: rgba(255, 255, 255, 0.75);
  margin-bottom: 5px;
  padding: 10px;
  width: 615px;
  float: right;
}
.method h2 {
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
  font-family: Verdana, Geneva, sans-serif;
  text-shadow: 0px 0px 10px #000000;
  background-color: #54574f;
  padding: 5px 10px;
  color: #f1d7b2;
}
.method h3 {
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
  text-shadow: 0px 0px 10px #000000;
  padding: 5px 10px;
  font-size: 18px;
  background-color: #352f2f;
  color: #f1d7b2;
}
.method section {
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
  background-color: rgba(84, 87, 79, 0.25);
  margin: 10px 0;
}
.method p {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  letter-spacing: 0.05em;
  color: #352f2f;
  padding: 5px 20px;
  font-size: 14px;
}
.method div {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  letter-spacing: 0.05em;
  color: #352f2f;
  padding: 5px 10px;
  font-size: 14px;
}
.method code {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  text-shadow: 0 0 5px #000000;
  background-color: rgba(84, 87, 79, 0.75);
  font-size: 14px;
  color: #f1d7b2;
  display: block;
  padding: 5px 20px;
}
#paramContainer {
  padding: 10px;
}
#paramDesc {
  padding: 5px 10px;
}
#description {
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
  background-color: rgba(84, 87, 79, 0.25);
  margin: 10px 0;
}
#details {
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
  background-color: rgba(84, 87, 79, 0.75);
  padding: 10px;
}
#details p {
  font-family: "Courier New", Courier, monospace;
  font-size: 18px;
  font-weight: bold;
  text-shadow: 0px 0px 10px #000000;
  padding: 5px 10px;
  font-size: 14px;
  color: #f1d7b2;
}
#mainFooter {
  background-color: #54574f;
}
#statement {
  position: relative;
  color: #f1d7b2;
  float: left;
  padding: 0 10px;
}
#copyright {
  position: relative;
  color: #f1d7b2;
  float: right;
  padding: 0 10px;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}
.page-wrap {
  min-height: 100%;
  /* equal to footer height */

  margin-bottom: -20px;
}
.page-wrap:after {
  content: "";
  display: block;
}
.site-footer,
.page-wrap:after {
  /* .push must be the same height as footer */

  height: 20px;
}
