////////////////////////////
//DOCUMENTATION CSS
////////////////////////////

///////////////////////////
//COLOUR SCHEME
///////////////////////////
@black: #000;
@dark-blue: #225378;
@med-blue: #1695a3;
@light-blue: #acf0f2;
@white: #fff;
@orange: #eb7f00;

///////////////////////////
//Mixins
///////////////////////////
.rounded-corners (@radius: 5px) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  -ms-border-radius: @radius;
  -o-border-radius: @radius;
  border-radius: @radius;
}

.shadow (@hOffset: inset, @vOffset: 0px, @blur: 0px, @spread: 5px, @color: #000) {
  -moz-box-shadow: @hOffset @vOffset @blur @spread @color;
  -webkit-box-shadow: @hOffset @vOffset @blur @spread @color;
  box-shadow: @hOffset @vOffset @blur @spread @color;
}

.textShadow (@X: 1px, @Y: 1px, @blur: 3px, @color: #888) {
  text-shadow: @X @Y @blur @color;
}

.transparentBG (@color, @alpha) {
  background-color: rgba(red(@color), green(@color), blue(@color), @alpha);
}

///////////////////////////
//Fonts
///////////////////////////
.header () {
  font-family: Verdana, Geneva, sans-serif;
}

.paragraph () {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 200;
  letter-spacing: 0.05em;
}

////////////////////////////
//**********SITE**********//
////////////////////////////

html, body {
  margin: 0;
  padding: 0;
  background-color: #000;
}

h1, h2, h3, h4, p {
  padding: 0;
  margin: 0;
  color: #fff;
}

#mainHeader {
  padding: 5px;
  background-color: @orange;
}

#mainHeader h1 {
  .textShadow();
}

#alertBox {
  width: 100%;
  color: #ffffff;
  background-color: #ff0007;
  text-align: center;
  margin: 10px 0;
  padding: 5px 0;
}

#glossary {
  .rounded-corners(5px);
  .shadow();
  .transparentBG(@white, 0.25);
  padding: 10px;
  width: 295px;
  height: 100%;
  float: left;
}

#glossary h2 {
  .rounded-corners(5px);
  .header();
  .textShadow();
  .transparentBG(@white, 0.5);
  text-align: center;
  padding: 5px;
  color: @black;
}

#glossary ul {
  margin: 10px 0;
  padding: 0;
  list-style: none;
}

#glossary ul li {
  .paragraph();
  color: @white;

}

#mainContent {
  .shadow();
  position: relative;
  margin: 10px auto;
  padding: 5px;
  width: 960px;
  height: 100%;
  background-color: @dark-blue;
}

.method {
  .rounded-corners(5px);
  .shadow();
  .transparentBG(@white, 0.25);
  margin-bottom: 5px;
  padding: 10px;
  width: 615px;
  height: 100%;
  float: right;
}

.method h2 {
  .rounded-corners(7px);
  .header();
  .textShadow();
  .transparentBG(@white, 0.5);
  padding: 5px 10px;
  color: @black;
}

.method p {
  .paragraph();
  padding: 5px 0;
  font-size: 14px;
}

.method code {
  .rounded-corners(5px);
  .textShadow();
  .transparentBG(@white, 0.5);
  display: block;
  padding: 5px;
}

//***********CLEAR FIX**********//
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

