html,
body {
  margin: 0;
  padding: 0;
  background-color: #352f2f;
  height: 100%;
}
h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
  color: #fff;
}
#mainHeader {
  padding: 5px;
  background-color: #54574f;
}
#mainHeader h1 {
  text-shadow: 1px 1px 3px #000000;
  color: #f1d7b2;
}
#alertBox {
  width: 100%;
  color: #ffffff;
  background-color: #ff0007;
  text-align: center;
  margin: 10px 0;
  padding: 5px 0;
}
#mainContent {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: inset 0px 0px 5px #000000;
  -webkit-box-shadow: inset 0px 0px 5px #000000;
  box-shadow: inset 0px 0px 5px #000000;
  background-color: rgba(163, 104, 28, 0.4);
  position: relative;
  float: right;
  margin: 10px auto;
  padding: 5px;
  width: 960px;
  min-height: 100%;
  height: auto;
}
#glossary {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: inset 0px 0px 5px #000000;
  -webkit-box-shadow: inset 0px 0px 5px #000000;
  box-shadow: inset 0px 0px 5px #000000;
  background-color: rgba(255, 255, 255, 0.75);
  margin: 10px auto;
  padding: 20px;
  width: 80%;
  height: auto;
}
#glossary img {
  display: block;
  position: relative;
  margin: 0 auto;
  padding: 10px;
}
#glossaryContainer {
  margin: 0 auto;
  padding: 0;
  width: inherit;
  height: 100%;
}
#glossHeader {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  font-family: Verdana, Geneva, sans-serif;
  text-shadow: 0 0 10px #000000;
  position: relative;
  width: 100%;
  margin: 0 auto;
  background-color: #54574f;
  text-align: center;
  padding: 5px;
  color: #f1d7b2;
}
.glossSection {
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
  background-color: rgba(84, 87, 79, 0.25);
  width: 295px;
  margin: 10px;
  padding: 10px;
}
.glossSection h2 {
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
  text-shadow: 0 0 10px #000000;
  font-size: 18px;
  text-transform: capitalize;
  padding: 5px 10px;
  color: #f1d7b2;
  background-color: #352f2f;
}
.glossSection ul {
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
  margin: 0;
  padding: 0;
}
.glossSection li {
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
  background-color: rgba(84, 87, 79, 0.25);
  font-family: "Courier New", Courier, monospace;
  font-size: 18px;
  font-weight: bold;
  text-shadow: 0 0 3px #f1d7b2;
  -moz-box-shadow: inset 0px 0px 5px #000000;
  -webkit-box-shadow: inset 0px 0px 5px #000000;
  box-shadow: inset 0px 0px 5px #000000;
  margin: 5px 0;
  padding: 5px 10px;
  color: #352f2f;
  list-style: none;
}
.glossSection li:hover {
  text-shadow: 0 0 3px #000000;
  color: #d7af67;
}
#mainFooter {
  background-color: #54574f;
}
#statement {
  position: relative;
  color: #f1d7b2;
  float: left;
  padding: 0 10px;
}
#copyright {
  position: relative;
  color: #f1d7b2;
  float: right;
  padding: 0 10px;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}
.page-wrap {
  min-height: 100%;
  /* equal to footer height */

  margin-bottom: -20px;
}
.page-wrap:after {
  content: "";
  display: block;
}
.site-footer,
.page-wrap:after {
  /* .push must be the same height as footer */

  height: 20px;
}
/**** Isotope Filtering ****/
.isotope-item {
  z-index: 2;
}
.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}
/**** Isotope CSS3 transitions ****/
.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  -ms-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  transition-duration: 0.8s;
}
.isotope {
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  -ms-transition-property: height, width;
  -o-transition-property: height, width;
  transition-property: height, width;
}
.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  -ms-transition-property: -ms-transform, opacity;
  -o-transition-property: -o-transform, opacity;
  transition-property: transform, opacity;
}
/**** disabling Isotope CSS3 transitions ****/
.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
  -moz-transition-duration: 0s;
  -ms-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s;
}
