html,
body {
  margin: 0;
  padding: 0;
  background-color: #352f2f;
  height: 100%;
}
h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
  color: #fff;
}
#mainHeader {
  padding: 5px;
  background-color: #54574f;
}
#mainHeader h1 {
  text-shadow: 1px 1px 3px #000000;
  color: #f1d7b2;
}
#alertBox {
  width: 100%;
  color: #ffffff;
  background-color: #ff0007;
  text-align: center;
  margin: 10px 0;
  padding: 5px 0;
}
#glossary {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: inset 0px 0px 5px #000000;
  -webkit-box-shadow: inset 0px 0px 5px #000000;
  box-shadow: inset 0px 0px 5px #000000;
  background-color: rgba(255, 255, 255, 0.75);
  margin: 10px auto;
  padding: 60px 10px;
  width: 80%;
  height: 100%;
}
#glossary img {
  display: block;
  position: relative;
  margin: 0 auto;
  padding: 10px;
}
#glossHeader {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 25px;
  text-shadow: 0 0 10px #000000;
  position: relative;
  top: -50px;
  background-color: #54574f;
  text-align: center;
  padding: 5px;
  color: #f1d7b2;
}
.glossSection {
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
  background-color: rgba(84, 87, 79, 0.25);
  width: 300px;
  padding: 10px;
  margin-bottom: 10px;
}
.glossSection h2 {
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
  text-shadow: 0 0 10px #000000;
  font-size: 18px;
  text-transform: capitalize;
  padding: 5px 10px;
  color: #f1d7b2;
  background-color: #352f2f;
}
.glossSection ul {
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
  margin: 0;
  padding: 0;
}
.glossSection li {
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
  background-color: rgba(84, 87, 79, 0.25);
  font-family: "Courier New", Courier, monospace;
  font-size: 18px;
  font-weight: bold;
  text-shadow: 0 0 3px #f1d7b2;
  -moz-box-shadow: inset 0px 0px 5px #000000;
  -webkit-box-shadow: inset 0px 0px 5px #000000;
  box-shadow: inset 0px 0px 5px #000000;
  margin: 5px 0;
  padding: 5px 10px;
  color: #352f2f;
  list-style: none;
}
.glossSection li:hover {
  text-shadow: 0 0 3px #000000;
  color: #d7af67;
}
#mainContent {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: inset 0px 0px 5px #000000;
  -webkit-box-shadow: inset 0px 0px 5px #000000;
  box-shadow: inset 0px 0px 5px #000000;
  background-color: rgba(255, 255, 255, 0.75);
  position: relative;
  margin: 10px auto;
  padding: 5px;
  width: 50%;
  min-height: 100%;
  height: auto;
}
#exampleHeader {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 25px;
  text-shadow: 0 0 10px #000000;
  position: relative;
  margin: 5px;
  background-color: #54574f;
  text-align: center;
  padding: 5px;
  color: #f1d7b2;
}
.example {
  *zoom: 1;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: inset 0px 0px 5px #000000;
  -webkit-box-shadow: inset 0px 0px 5px #000000;
  box-shadow: inset 0px 0px 5px #000000;
  background-color: rgba(84, 87, 79, 0.25);
  margin: 0;
  padding: 0;
  width: 100%;
}
.example:before,
.example:after {
  content: "";
  display: table;
}
.example:after {
  clear: both;
}
.information {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  position: relative;
  float: left;
  background-color: rgba(84, 87, 79, 0.25);
  margin: 10px;
  padding: 0;
  width: 45%;
}
.method {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 30px;
  text-shadow: 1px 1px 3px #888888;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  background-color: #54574f;
  color: #f1d7b2;
}
.description {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  letter-spacing: 0.05em;
  font-size: 16px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  background-color: rgba(84, 87, 79, 0.25);
  margin: 10px;
  padding: 10px;
}
.exampleContainer {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  position: relative;
  float: right;
  background-color: #54574f;
  margin: 10px;
  padding: 10px;
  width: 45%;
}
.exampleContainer img {
  border: 5px solid #ffffff;
}
#mainFooter {
  *zoom: 1;
  background-color: #54574f;
}
#mainFooter:before,
#mainFooter:after {
  content: "";
  display: table;
}
#mainFooter:after {
  clear: both;
}
#statement {
  position: relative;
  color: #f1d7b2;
  float: left;
  padding: 0 10px;
}
#copyright {
  position: relative;
  color: #f1d7b2;
  float: right;
  padding: 0 10px;
}
