////////////////////////////
//DOCUMENTATION CSS
////////////////////////////

///////////////////////////
//COLOUR SCHEME
///////////////////////////
@black: #000;
@dark-blue: #225378;
@med-blue: #1695a3;
@light-blue: #acf0f2;
@white: #fff;
@orange: #eb7f00;

@green: #54574F;
@beige: #D7AF67;
@gold: #A3681C;
@cream: #F1D7B2;
@brown: #352F2F;

  ///////////////////////////
//Mixins
///////////////////////////
.rounded-corners (@radius: 5px) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  -ms-border-radius: @radius;
  -o-border-radius: @radius;
  border-radius: @radius;
}

.shadow (@hOffset: inset, @vOffset: 0px, @blur: 0px, @spread: 5px, @color: #000) {
  -moz-box-shadow: @hOffset @vOffset @blur @spread @color;
  -webkit-box-shadow: @hOffset @vOffset @blur @spread @color;
  box-shadow: @hOffset @vOffset @blur @spread @color;
}

.textShadow (@X: 1px, @Y: 1px, @blur: 3px, @color: #888) {
  text-shadow: @X @Y @blur @color;
}

.transparentBG (@color, @alpha) {
  background-color: rgba(red(@color), green(@color), blue(@color), @alpha);
}

///////////////////////////
//Fonts
///////////////////////////
.header () {
  font-family: Verdana, Geneva, sans-serif;
}

.paragraph () {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  letter-spacing: 0.05em;
}

.codeText () {
  font-family: "Courier New", Courier, monospace;
  font-size: 18px;
  font-weight: bold;
}

////////////////////////////
//**********SITE**********//
////////////////////////////

html, body {
  margin: 0;
  padding: 0;
  background-color: @brown;
  height: 100%;
}

h1, h2, h3, h4, p {
  margin: 0;
  padding: 0;
  color: #fff;
}

#mainHeader {
  padding: 5px;
  background-color: @green;
}

#mainHeader h1 {
  .textShadow(1px, 1px, 3px, @black);
  color: @cream;
}

#alertBox {
  width: 100%;
  color: #ffffff;
  background-color: #ff0007;
  text-align: center;
  margin: 10px 0;
  padding: 5px 0;
}

////////////////////
////MAIN CONTENT
////////////////////

#mainContent {
  .rounded-corners();
  .shadow();
  .transparentBG(@gold, 0.4);
  position: relative;
  float: right;
  margin: 10px auto;
  padding: 5px;
  width: 960px;
  min-height: 100%;
  height: auto;
}

////////////////////
////GLOSSARY LIST
////////////////////

#glossary {
  .rounded-corners(5px);
  .shadow();
  .transparentBG(@white, 0.75);
  margin: 0;
  padding: 10px;
  //width: 295px;
  width: auto;
  height: auto;
  float: left;
}

#glossary img {
  display: block;
  position: relative;
  margin: 0 auto;
  padding: 10px;
}

.glossHeader {
  .rounded-corners(5px);
  .header();
  .textShadow(0, 0, 10px, @black);
  background-color: @green;
  text-align: center;
  padding: 5px;
  color: @cream;
}

.glossSection {
  .rounded-corners(7px);
  .transparentBG(@green, 0.25);
  position: relative;
  float: left;
  display: inline-block;
  width: 295px;
  margin: 10px 0;
  padding: 10px;
}

.glossSection h2 {
  .rounded-corners(7px);
  .textShadow(0, 0, 10px, @black);
  font-size: 18px;
  text-transform: capitalize;
  padding: 5px 10px;
  color: @cream;
  background-color: @brown;
}

.glossSection ul {
  .rounded-corners(7px);
  margin: 0;
  padding: 0;
}

.glossSection li {
  .rounded-corners(7px);
  .transparentBG(@green, 0.25);
  .codeText();
  .textShadow(0, 0, 3px, @cream);
  .shadow();
  margin: 5px 0;
  padding: 5px 10px;
  color: @brown;
  list-style: none;
}

.glossSection li:hover {
  .textShadow(0, 0, 3px, @black);
  color: @beige;
}

////////////////////
////FOOTER
////////////////////

#mainFooter {
  background-color: @green;
}

#statement {
  position: relative;
  color: @cream;
  float: left;
  padding: 0 10px;
}

#copyright {
  position: relative;
  color: @cream;
  float: right;
  padding: 0 10px;
}

//***********CLEAR FIX**********//
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

//***********STICKY FOOTER***********//
.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -20px;
}
.page-wrap:after {
  content: "";
  display: block;
}
.site-footer, .page-wrap:after {
  /* .push must be the same height as footer */
  height: 20px;
}
.site-footer {
  //background: orange;
}

